:root {
  --main-background-color: #3a3a3a;
  --lime-green-color: #00ff88;
  --nav-elements-color: #d8e7e0;
  --nav-elements-hover: white;
  --quiz-card-bg: #383838;
  --quiz-card-text: #9a9a9a;
  --quiz-card-border: #676767;
  --soft-green-color: rgb(192, 237, 192);
}

/* :root {
  --main-background-color: white;
  --lime-green-color: rgb(58, 68, 255);
  --nav-elements-color: #7aebff;
  --nav-elements-hover: #235fb3;
  --quiz-card-bg: #383838;
  --quiz-card-text: #9a9a9a;
  --quiz-card-border: #676767;
} */

body {
  background-color: var(--main-background-color);
}

* {
  user-select: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: var(--lime-green-color);
  font-size: 6rem;
  letter-spacing: 10px;
}

h2 {
  color: var(--soft-green-color);
  font-size: 2.3rem;
  margin-bottom: 30px;
}

.quiz-name-title {
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin: 50px 0;
}

.quiz-name-description {
  color: rgb(203, 203, 203);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 35px;
}

nav {
  padding-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

nav ul {
  margin-top: 15px;
  margin-bottom: 75px;
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-around;
  width: 500px;
}

nav ul li {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--nav-elements-color);
}

nav ul li:hover {
  color: var(--nav-elements-hover);
}

main {
  display: flex;
  justify-content: center;
}

.quiz-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}

.quiz-card {
  background-color: var(--quiz-card);
  border: 1px solid var(--quiz-card-border);
  border-radius: 10px;
  width: 250px;
  padding: 10px 20px;
  user-select: none;
}

.quiz-card:hover {
  cursor: pointer;
}

.quiz-card:hover .quiz-card-title {
  color: var(--lime-green-color);
}

.quiz-card-title {
  color: var(--quiz-card-text);
}

a {
  text-decoration: none;
}

.searchQuiz {
  display: inline;
  justify-content: center;
  border: none;
  padding: 15px 20px;
  width: 350px;
  border-radius: 10px;
  outline: none;
}

.searchQuiz:focus {
  box-shadow: 0 0 10px black;
}

.inputSearchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

button {
  padding: 20px;
  border: none;
  margin: 5px;
  border-radius: 10px;
}

.buttongroup {
  display: flex;
  justify-content: center;
}

.buttongroupbutton {
  width: 150px;
  margin: 0 15px;
}

.createbutton {
  background-color: #00ff88;
  color: green;
  font-weight: bold;
}
