html {
    --theme-color: royalblue;
    --h-back: white;
    scroll-behavior: smooth;
}


* {
    font-family: benzin,Arial,sans-serif;
}

body{
  background-color: white; 
}

main{
    width: 70%;
    margin: 0 auto;
}

#quizzes{
    padding-top: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    color: var(--theme-color);
    /*    text-shadow: 0 0 5px black;*/
    background-color: var(--h-back);
    display: inline-block;
    padding: 10px;
    transform: skew(-10deg);
    border: 1px solid black
}

.info-button {
    background-color: white;
    border: 1px solid black;
    padding: 5px 20px;
    box-shadow: 1px 1px 0 0 black, 2px 2px 0 0 black, 3px 3px 0 0 black, 4px 4px 0 0 black, 5px 5px 0 0 black;
    transition: box-shadow;
    width: fit-content;
    letter-spacing: 0.050em;
    font-weight: bold;
    color: var(--theme-color)
}

    .info-button:hover {
        box-shadow: none;
    }

.navbar {
    margin-bottom: 50px;
    z-index: 999;
    background-color: var(--theme-color);
    font-weight: bold;
    color: white;
}

.answeroptions{
    display: flex;
    justify-content: space-around;
}

.questionCard{
    margin-bottom: 500px;
}

.optionButton {
    width: 100%;
    margin: 0 20px;
}

.quizlist {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    border: none;
    margin-bottom: 50px;
}

.list-group-item {
    border: none
}

.quizcard-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 2px;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E7E9EB;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}


.banner{
    width: 100%;
    transform: translateY(-60px);
    filter:sepia();
    height: 500px;
    object-fit: cover;
    border-radius: 0 0 50px 50px;
}

.banner2 {
    padding: 20px;
    font-size: 1.4rem;
    width: 100%;
    transform: translateY(-60px);
    height: 500px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position-x: 50%;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner2-content{
    text-align: center;
    color: white;       
    text-shadow: 0 0 5px black;
}

.banner2-title {
    text-transform: uppercase;
    font-family: 'Fugaz One', cursive;
    font-size: 3rem;
}

.quizCard{
    background-color: red;
}