body{
  background-color: white; 
}

main{
    width: 70%;
    margin: 0 auto;
}

.navbar{
    margin-bottom: 50px;
    z-index: 999;
}

.quizlist {
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    border: none;
    margin-bottom: 50px;
}

.list-group-item {
    border: none
}

.quizcard-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 2px;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E7E9EB;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}


.banner{
    width: 100%;
    transform: translateY(-60px);
    filter:sepia();
    height: 500px;
    object-fit: cover;
    border-radius: 0 0 50px 50px;
}
